#header {
  margin-bottom: 50px;
}
.container {
  max-width: 60%;
  height: 100px;
  margin: auto;
}
#logo {
  background-color: #4aaaa5;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 35px;
  text-decoration: none;
  padding: 20px;
  float: left;
}
nav {
  float: right;
  padding-top: 30px;
}
nav a {
  text-decoration: none;
  margin: 15px;
  font-size: 20px;
  color: grey;
}
.footer {
  margin-top: 100px;
  text-align: center;
  border-top: 10px solid #4aaaa5;
  background-color: grey;
  width: 100%;
  height: 100px;
}
.clr {
  clear: both;
}
.icon {
  width: 60px;
  height: 60px;
}

.images {
  width: 100%;
}
#portfolioContainer {
  width: 60%;
  margin: auto;
}
#PortfolioSection {
  float: left;
  max-width: 50%;
}
#PortfolioSection div {
  float: left;
  width: 50%;
}

#sidebar {
  float: right;
  margin-right: 100px;
  border: 1px solid black;
  padding: 20px;
  margin-top: 65px;
}
h2,h3 {
    color: #4aaaa5;
}