#header {
margin-bottom: 50px;
}
.container {
  max-width: 60%;
  height: 100px;
  margin: auto;
}
#logo {
  background-color: #4aaaa5;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 35px;
  text-decoration: none;
  padding: 20px;
  float: left;
}
nav {
  float: right;
  padding-top: 30px;
}
nav a {
  text-decoration: none;
  margin: 15px;
  font-size: 20px;
  color: grey;
}

.icon{
    width: 60px;
    height: 60px;
}
#mainContainer{
    max-width: 60%;
    margin-top: 50px;
    margin: auto;
    height: 300px;

    
}
#mainSection{
    float: left;
    max-width: 50%;
    border: 1px solid black;
}
#mainSection h2{
    color: #4aaaa5;

}
#img{
    float: left;
}
#sidebar{
    float: right;
    margin-right: 100px;
   border: 1px solid black;
   padding: 20px;
}
#sidebar div h2{
    color: #4aaaa5;
}
.footer{
    margin-top: 100px;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    background-color: grey;
    width: 100%;
    height: 100px;
}
.clr{
    clear: both;
}
